<!--
Name: Joshua Dusome
Date: October 13, 2016
File Name: footer.ejs
Website: https://jdusome-portfolio.herokuapp.com
Purpose: A shared footer that is used by all non-partial views within the application.
- Contains an alert info section to colour the footer.
- Contains application author and year information.
- Contains 2 img link's to Github an Linkedin.
- Contains the ending brackets for our fluid application (started in header) aswell as body.
-->
<footer class="alert-info">
  <div class="row">
    <!-- Creates a column 11/12 wide on the left side -->
    <div class="col-md-11">
      <!-- Left column Content -->
        <p class="fcenter catafont">2016 | Joshua Dusome</p>
    </div>

    <!-- Creates a column 1/12 wide on the right side -->
    <div class="col-md-1">
     <!-- Right column content -->
      <!-- Link to github  - opens in new window -->
      <a href="https://github.com/jdusome" target="_blank">
        <!-- Github Icon -->
        <img src="images/githubsmallv3.png" alt="Github link" />
      </a>
      <!-- Link to Linkedin  - opens in new window -->
      <a href="https://www.linkedin.com/in/joshua-dusome-93a41b129?trk=nav_responsive_tab_profile" target="_blank" >
        <!-- Linkedin Icon -->
        <img src="images/linkedinsmallv2.png" alt="Linkedin link" />
      </a>
    </div>
    </div>

    </div>
</footer>

<!-- End of fluid page -->
</div>
</body>
</html>