<footer class="alert-info">
  <div class="row">
    <!-- Creates a column 11/12 wide on the left side -->
    <div class="col-md-11">
      <!-- Left column Content -->
      <div class="container-fluid" >
        <p class="fcenter catafont">2016 | Joshua Dusome</p>
      </div>
    </div>

    <!-- Creates a column 1/12 wide on the right side -->
    <div class="col-md-1">
     <!-- Right column content -->
      <!-- Link to github  - opens in new window -->
      <a href="https://github.com/jdusome" target="_blank">
        <!-- Github Icon -->
        <img src="images/githubsmallv3.png" alt="Github link" />
      </a>
      <!-- Link to Linkedin  - opens in new window -->
      <a href="https://www.linkedin.com/in/joshua-dusome-93a41b129?trk=nav_responsive_tab_profile" target="_blank" >
        <!-- Linkedin Icon -->
        <img src="images/linkedinsmallv2.png" alt="Linkedin link" />
      </a>
    </div>
    </div>

    </div>
</footer>

<!-- End of fluid page -->
</div>
</body>
</html>