<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title%></title>

  <!-- css -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>

</head>
<body>
<!-- Creates a fluid page that adjusts based on the size on the window --->
<div class="container-fluid">
<!-- Creates a navbar with the bootstrap navbar class -->
<nav class="nav navbar-default">
  <ul class="nav navbar-nav">
      <li><a href="/">HOME</a></li>
      <li><a href="/about">ABOUT ME</a></li>
      <li><a href="/projects">PROJECTS</a></li>
      <li><a href="/services">SERVICES</a></li>
      <li><a href="/contact">CONTACT ME</a></li>
  </ul>
</nav>


