<% include partials/header.ejs %>
<% include partials/content.ejs %>

<!-- Creates a row that can be split in columns -->
<div class="row">
    <!-- Creates a column 4/12 wide on the left side -->
    <div class="col-md-4">
        <!-- Left column Content -->
        <!-- Responsive image that will adjust to the screen size -->
        <img src="images/drums.jpg" alt="Joshes Drums" class="img-responsive">
    </div>
    <!-- Creates a column 4/12 wide in the middle -->
    <div class="col-md-4">
        <!-- Middle column Content -->
        <p>My name is Joshua Dusome, I'm a 22 year old programming student from Barrie, Ontario. My interests include yoga, singing,
            messing with my cat, playing the drums, cooking, and listening to music. I work part-time at Sobeys as a bagger, and absolutely love
            my job. Naturally I'm a very social individual, a good problem solver, and have good organizational skills.</p>
        <p>Currently I am in school for computer programming, although I'm seriously entertaining the idea of becoming a paramedic.
            I enjoy programming, although it's not something I can see myself doing as a career. I have been accepted into pre-health
            sciences at Georgian College starting in January, and I'm really excited for this new opportunity.</p>
    </div>
    <!-- Creates a column 4/12 wide on the right side -->
    <div class="col-md-4">
        <!-- Right column Content -->
        <!-- Responsive image that will adjust to the screen size -->
        <img src="images/drums.jpg" alt="Joshes Drums" class="img-responsive">
    </div>
</div>

<% include partials/footer.ejs %>