<% include partials/header.ejs %>
<% include partials/content.ejs %>

<ul>
    <li>Name: Joshua Dusome</li>
    <li>Phone: (705) 817-3363</li>
    <li>Email: 200236108@student.georgianc.on.ca</li>
</ul>

<% include partials/footer.ejs %>