<% include partials/header.ejs %>

<h1> <%= title %> </h1>

<!-- Creates a row that can be split in columns -->
<div class="row">
    <!-- Creates a column 4/12 wide on the left side -->
    <div class="col-md-4">
        <!-- Left column Content -->
    </div>
    <!-- Creates a column 4/12 wide in the middle -->
    <div class="col-md-4 bgcolortextwhite">
        <!-- Middle column Content -->
        <br>
        <ul class="sourcefont">
            <li>Name: Joshua Dusome</li>
            <li>Phone: (705) 817-3363</li>
            <li>Email: 200236108@student.georgianc.on.ca</li>
        </ul>
        <br>

    </div>
    <!-- Creates a column 4/12 wide on the Right side -->
    <div class="col-md-4">
        <!-- Right column Content -->
    </div>

</div>



<% include partials/footer.ejs %>