<!--
Name: Joshua Dusome
Date: October 13, 2016
File Name: home.ejs
Website: https://jdusome-portfolio.herokuapp.com
Purpose: Home view used to welcome guest.
- Loads shared header and footer.
- Creates 3 columns used to style content.
- Displays a welcome message in the middle column.
-->

<!-- Loads shared header -->
<% include partials/header.ejs %>

<!-- Displays title passed in by the route -->
<h1> <%= title %> </h1>



<!-- Creates a row that can be split in columns -->
<div class="row">
    <!-- Creates a column 4/12 wide on the left side -->
    <div class="col-md-4">
        <!-- Left column Content -->
    </div>
    <!-- Creates a column 4/12 wide in the middle -->
    <div class="col-md-4 bgcolortextwhite">
        <!-- Middle column Content -->
        <p><br>Hello, and welcome to the home page of my online portfolio! Don't be shy, come on in!!<br><br></p>
    </div>
    <!-- Creates a column 4/12 wide on the right side -->
    <div class="col-md-4">
        <!-- Right column Content -->
    </div>
</div>

<!-- Loads shared footer -->
<% include partials/footer.ejs %>