<% include partials/header.ejs %>

<% include partials/content.ejs %>

<p>Hello, and welcome to the home page of my online portfolio! Don't be shy, come on in!! </p>

<% include partials/footer.ejs %>