<% include partials/header.ejs %>

<h1> <%= title %> </h1>



<!-- Creates a row that can be split in columns -->
<div class="row">
    <!-- Creates a column 4/12 wide on the left side -->
    <div class="col-md-4">
        <!-- Left column Content -->
    </div>
    <!-- Creates a column 4/12 wide in the middle -->
    <div class="col-md-4 bgcolortextwhite">
        <!-- Middle column Content -->
        <p><br>Hello, and welcome to the home page of my online portfolio! Don't be shy, come on in!!<br><br></p>
    </div>
    <!-- Creates a column 4/12 wide on the right side -->
    <div class="col-md-4">
        <!-- Right column Content -->
    </div>
</div>

<% include partials/footer.ejs %>