<% include partials/header.ejs %>
<% include partials/content.ejs %>

<p>
    Here are two projects I created during my first year at Georgian College. The first picture is a screenshot of an interactive
    weather monitoring website I created in my Web Authoring class called “The Georgian Weather Hub.” The proceeding YouTube video
    was created for an Arduino Project I made during my Computer Organization and Architecture class!
</p>

<img src="images/GWH.jpg" alt="Georgian Weather Hub">

<!--- Arduino Robodrums Youtube link, which was formulated by hitting 'Share' then the 'Embedded' Option on Youtube --->
<iframe width="560" height="315" src="https://www.youtube.com/embed/y0vXn8hgm0g" frameborder="0" allowfullscreen></iframe>

<% include partials/footer.ejs %>