<% include partials/header.ejs %>

<h1> <%= title %> </h1>

<ul>
  <li>Technical Skills</li>
  <ul>
    <li>Develop object oriented applications using Python and Java</li>
    <li>Develop interactive websites using HTML, CSS, PHP, JavaScript, and NodeJS</li>
    <li>Maintain and utilize relational database using mySQL</li>
    <li>Networking</li>
    <li>Adobe Photoshop and GIMP</li>
    <li>Microsoft Office</li>
    <li>Open Office</li>
  </ul>
  <li>General Skills</li>
  <ul>
    <li>Excellent communication</li>
    <li>Able to work as a team or individual</li>
    <li>Project management skills</li>
    <li>Self-driven and motivated</li>
    <li>Friendly and respectful</li>
  </ul>
</ul>

<% include partials/footer.ejs %>
