<!--
Name: Joshua Dusome
Date: October 13, 2016
File Name: services.ejs
Website: https://jdusome-portfolio.herokuapp.com
Purpose: Services view used to display the different services and skills of Joshua.
- Loads shared header and footer.
- Creates 3 columns to style content.
- Displays an un-ordered list containing Technical and General skills.
-->

<!-- Loads shared header -->
<% include partials/header.ejs %>

<!-- Displays title passed in by the route -->
<h1> <%= title %> </h1>

<!-- Creates a row that can be split in columns -->
<div class="row">
  <!-- Creates a column 4/12 wide on the left side -->
  <div class="col-md-4">
    <!-- Left column Content -->
  </div>
  <!-- Creates a column 4/12 wide in the middle -->
  <div class="col-md-4 bgcolortextwhite">
    <!-- Middle column Content -->
      <br>
    <!-- Un-ordered list to display technical and general skills using the sourcefont class from style.css -->
    <ul class="sourcefont">
      <li>Technical Skills</li>
      <ul>
        <li>Develop object oriented applications using Python and Java</li>
        <li>Develop interactive websites using HTML, CSS, PHP, JavaScript, and NodeJS</li>
        <li>Maintain and utilize relational database using mySQL</li>
        <li>Networking</li>
        <li>Adobe Photoshop and GIMP</li>
        <li>Microsoft Office</li>
        <li>Open Office</li>
      </ul>
      <li>General Skills</li>
      <ul>
        <li>Excellent communication</li>
        <li>Able to work as a team or individual</li>
        <li>Project management skills</li>
        <li>Self-driven and motivated</li>
        <li>Friendly and respectful</li>
      </ul>
    </ul>
      <br>
  </div>
  <!-- Creates a column 4/12 wide on the Right side -->
  <div class="col-md-4">
    <!-- Right column Content -->
  </div>
</div>

<!-- Loads shared footer -->
<% include partials/footer.ejs %>
