/* Custom style used to center the footer text vertically/horizontally */
.fcenter {
  position: absolute;
  line-height: 50px;
  left: 50%;
}

/*align all h1 headers */
h1 {
  text-align: center;
}

/* function used to align selected text */
.textalign {
  text-align: center;
}

.bgcolor {
  background-color: #1C7A7F;
}
/* function used to align img within div */
.imgcenter {
  border: none;
  display: block;
  margin: 0 auto;
}