/*
Name: Joshua Dusome
Date: October 13, 2016
File Name: style.css
Website: https://jdusome-portfolio.herokuapp.com
Purpose: Style sheet used to style various aspects of the page
*/

/* Custom function used to center the footer text vertically/horizontally */
.fcenter {
  position: absolute;
  line-height: 50px;
  left: 50%;
}

/*Align all h1 headers, used Passion One font at 300%, create text Shadow */
h1 {
  text-align: center;
  font-family: 'Passion One', cursive;
  font-size: 300%;
  text-shadow: 2px 2px #32DCE5;
}

/*Change all p font to Source Serif Pro, 125% */
p {
  font-family: 'Source Serif Pro', serif;
  font-size: 125%;
}

/* Custom function used to change specified font to Source Serif Pro, 125% */
.sourcefont {
  font-family: 'Source Serif Pro', serif;
  font-size: 125%;
}

/* Custom function used to change specified font to Catamaran, 150% */
.catafont {
  font-family: 'Catamaran', sans-serif;
  font-size: 150%;
}

/*  Custom function used to change background-color to #1C7A7F */
.bgcolormainblue {
  background-color: #1C7A7F;
}

/*  Custom function used to*/
.bgcolortextwhite {
  background-color: white;
  border: 5px solid #0E3D40;
  border-radius: 5px;
}
/*  Custom function used tofunction used to align img within div */
.imgcenter {
  border: none;
  display: block;
  margin: 0 auto;
}